# Loading libraries and dataset

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [3]:
# read the date source
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

# check the shape of the data
print(train_df.shape)
print(test_df.shape)

(750000, 18)
(250000, 17)

# Preprocessing the data

In [4]:
# show the first 5 rows of the data
train_df.head()

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1